/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.sidebar {
  background-color: #fda085;
  height: 100vh;
  color: #212529;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar_header {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: baseline;
}

.sidebar_menus {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.fa-tasks,
.sidebar_header p {
  font-size: 2rem;
}

.main_content {
  color: #343a40;
  padding: 0 !important;
}

.navbar, 
.modal-header{
  background: linear-gradient(90deg, #fda085, #f6d365);
}

.task_category, .project_list {
  background-color: #f6d365;
  padding: 1rem;
  cursor: pointer;
}

.task_category:not(.active),
.project_list:not(.active) {
  background-color: #fff9db;
  /* un jaune très pâle, doux */
  color: #5a4d00;
  /* texte marron foncé, lisible */
}

.to_do_projects_list:not(.active) {
  background-color: #fff9db;
  /* un jaune très pâle, doux */
  color: #5a4d00;
  /* texte marron foncé, lisible */
}



.btn-add-task {
  background-color: #fda085 !important;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-add-task:hover {
  cursor: pointer;
}

.to_do_container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  gap: 2rem;
}

.to_do_title {
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
  align-items: center;
}

.to_do_separator {
  width: 50%;
  border-bottom: 1px solid;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.to_do_categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}



.to_do_projects_title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}

.to_do_projects_list_container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.to_do_projects_list {
  background-color: #f6d365;
  padding: 1rem;
  cursor: pointer;

}

.to_do_projects_list:not(.active) {
  background-color: #fff9db;
  /* un jaune très pâle, doux */
  color: #5a4d00;
  /* texte marron foncé, lisible */
}

.tasks_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.task_info {
  display: flex;
  gap: 0.5rem;
}

.task_item {
  display: flex;
  justify-content: space-between;
}

.task_item.done {
  text-decoration: line-through;
}

.task_actions {
  display: flex;
  gap: 0.5rem;

}

.task_actions .view_task,
.task_actions .edit_task,
.task_actions .delete_task {
  cursor: pointer;
}

.task_actions .view_task:hover,
.task_actions .edit_task:hover,
.task_actions .delete_task:hover ,
.btn-done:hover{
  transform: scale(1.2);
}


.modal-content{
  margin-top: 3rem;
}

#task_importance{
  cursor: pointer;
}

.to_do_projects_title{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
